<html>

  <head>
    <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css">
    <link rel="stylesheet" href="main.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <!-- and our js too below -->
    <script type="text/javascript" src="first.js"></script>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="pull-left" id="navStuff">
        <p class="navbar-brand">Crowned</p>
      </div>
    </div>

    <div class="jumbotron">
      <p>The Question Asked</p>
      <div class="container">
        <h1><%= displayName %></h1>
      </div>
    </div>
    <div class="container well">
      <p><%= displayText %></p>
    </div>


    <div class="jumbotron">
      <p>The response</p>
      <div class="container">
        <h1><%= displayName %></h1>
      </div>
    </div>
    <div class="container well">
      <p><%= displayText %></p>
    </div>

    <div class="container well">
      <p id="newResponse"></p>
      <form action="/responding" method="POST" >
        <div class="form-group">
          <label>Whats your name?</label>
          <input name="responderName" class="form-control" placeholder="Your Name">
        </div>
        <div class="form-group">
          <label>What is your response?</label>
          <p class="help-block">Be nice and honest :)</p>
          <input name="responderText" class="form-control" placeholder="Enter question...">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>

  </body>

</html>
